{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="{% static 'css/attendancestyle.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap" rel="stylesheet">
</head>
<body>
    <header>
        <div class="navBar">
            <div class="site-title">
                <h1>verifID</h1>
                <p class="sub-title">CHAT</p>
            </div>
            <nav>
                <ul>
                    <!-- <li class="welcome-text">Welcome, Manosij</li> -->
                    <li><a href="{% url 'studentHome' %}">Dashboard</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <main>
        <div class="container-main">
            <!-- <div class="notetext">
                <p><strong>NOTE:</strong>This is beta-testing.So please provide roll no(s) comma separated.</p>
            </div> -->
            <div class="search" style="padding-top: 70px;">
                <form action="" method="post">
                    {% csrf_token %}
                    <!-- <input type="text" placeholder="Enter subject code:" style="height:25px;margin-bottom:7px;" name="subjectcodeanc"> -->
                    <input type="text" placeholder="Message" name="message">
                    <button type="submit">Send</button>
                </form>
            </div>
        </div>
    </main>
    <footer>
        <p><strong>Copyrights towards verifID 2022</strong></p>
    </footer>
</body>
</html>