<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="asgimg">
        <input type="text" name="aboutannc" id="" placeholder="Describe">
        <input type="text" name="subjectcode" id="" placeholder="subject code">
        <input type="date" name="dos" id="" placeholder="date of sub">
        <input type="submit" placeholder="Submit">
    </form>
</body>
</html>